doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='icon', href='/images/favicon.ico')
  body(style='margin-top:35px')
    block content
